* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #e4e6eb;
    --color2: #d3d6de;
    --color3: #b6bbc9;
    --color4: #98a0b3;
    --color5: #7b859d;
    --mainColor: #204599;
    --secondColor: #2ac2ea;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
}

.navbar {
    display: flex;
    flex: 1;
    margin: 1rem;
    height: 95vh;
    .navbar-split {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 5rem;
        background-color: var(--color2);
        width: max-content;
        .navlink {
            color: #204599;
            ul {
                padding-top: 2em;
                li {
                    display: flex;
                    padding-bottom: 0.5em;
                    list-style-type: none;
                    i {
                        padding-right: 0.5em;
                    }
                    a {
                        font-size: large;
                        display: flex;
                        color: #204599;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.middle {
    display: flex;
    flex-direction: column;
    flex: 7;
    header {
        display: flex;
        margin: 1rem;
        background-color: var(--color2);
        height: 10vh;
        .header-split {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            .opsLogo {
                padding-left: 5rem;
            }
            .searchbar {
                display: flex;
                align-items: center;
                .searchbar-split {
                    display: flex;
                    form {
                        display: flex;
                        justify-content: flex-end;
                        input {
                            width: 50rem;
                            border-radius: 5px;
                            &[type="search"] {
                                padding: 10px;
                            }
                        }
                        i {
                            display: block;
                            position: absolute;
                            padding: 15px;
                        }
                    }
                }
            }
            .inodeaLogo {
                padding-right: 5rem;
                img {
                    height: 10vh;
                    max-height: 20%;
                }
            }
        }
    }
}

.main-content {
    display: flex;
    flex-direction: row;
    height: 85vh;
    > article {
        flex: 1;
        margin: 1rem;
        min-height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color2);
        form {
            ul {
                list-style-type: none;
                padding: 0;
                li {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    padding: 0.5em;
                    > label {
                        padding: 0.5em 1 em 0.5em 0;
                        flex: 1;
                    }
                    > input {
                        flex: 2;
                    }
                }
            }
        }
    }
    > aside {
        flex: 3;
        margin: 1rem;
        background-color: var(--color2);
        .grid-container {
            display: grid;
            padding: 20px;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 20em 20em 20em;
            grid-gap: 20px 20px;
            // grid-column-gap: 20px;
            // grid-row-gap: 20px;
            .grid-item {
                display: grid;
                position: relative;
                border: 1px solid black;
                border-radius: 2px;
                margin: 5px;
                img {
                    justify-self: center;
                }
                .title {
                    padding: 1em 1em;
                    text-align: center;
                    font-weight: bold;
                }
                .description {
                    text-align: center;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .readMore {
                    position: relative;
                    height: 3em;
                    width: 50%;
                }
            }
        }
    }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    height: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}
/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
/* The Close Button */
.modal-header {
    padding: 2px 16px;
    background-color: #69388c;
    color: white;
    h2 {
        text-align: center;
    }
}

.modal-body {
    padding: 20px 15px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
